# Treat Flutter platform runner code as vendor (excluded from language stats)
windows/runner/** linguist-vendored=true
windows/flutter/** linguist-vendored=true
android/** linguist-vendored=true
ios/** linguist-vendored=true
linux/** linguist-vendored=true
macos/** linguist-vendored=true
web/** linguist-vendored=true
